<div id="signup" class="container col-xxl-4">
  <h1 class="text-center mt-5 mb-4">User Register</h1>

  <form class="container-sm mx-auto" style="max-width: 400px;" action="/register" method="POST">
    <div class="mb-3">
      <label for="username" style="color: #3498db;" class="form-label">Username</label>
      <input type="text" name="username" class="form-control" placeholder="Username" required>
    </div>
    <div class="mb-3">
      <label for="email" style="color: #3498db;" class="form-label">Email</label>
      <input type="email" name="email" class="form-control" placeholder="Write your email" required>
    </div>
    <div class="mb-3">
      <label for="password" style="color: #3498db;" class="form-label">Password</label>
      <input type="password" name="password" class="form-control" placeholder="Password" required>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
  </form>
</div>
